.SwipeGallery
  display flex
  &-previous
  &-next
    font-size 1.2em
    display flex
    cursor pointer
    &--rotate90
      margin 0 auto
      & > div
        transform rotate(90deg)
        transform-origin left
  &-container
    transition all 500ms ease-in
    display flex
    position relative
    overflow hidden
  &-element
    //&--left
      //transform translate3d(-100%, 0, 0)
    &--top
      transform translate3d(0, -100%, 0)
    &--right
      left auto
    &--bottom
      top auto
    &--invisible
      position absolute
      opacity 0
      z-index -1
    &--visible
      position relative
      opacity 1
  &--vertical
    flex-direction column
    & .SwipeGallery-container
      flex-direction column
      margin 0 auto


